<script src="Template.js"></script>

<template class="MarvalSoftware-Plugins-ExpandableNotes-Styles">
    <style type="text/css">
    	.notesEditor > .notes > div > .note.Private > .header,
        .notesEditor > .notes > div > .note.PrivateParent > .header,
        .notesEditor > .notes > div > .note.Public > .header,
        .notesEditor > .notes > div > .note.PublicParent > .header,
        .notesEditor > .notes > div > .note.Audit > .header{
            background: url("PLUGINPATHimg/submenu.png")  no-repeat left;
            padding-left: 12px;
        }
        .notesEditor > .notes > div > .note > .header.expanded{
            background: url("PLUGINPATHimg/submenu_down.png")  no-repeat left;
        }
    </style>
</template>

<script>
    (function () {
        
        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;
        
        MarvalSoftware.Plugins.define("MarvalSoftware-Plugins-ExpandableNotes", 
        {
            _noteLastCount: null,
            _styleElement: null,
            _fieldLabel: "Expand / Collapse", // The label of the expand/fold all checkbox

            init: function () {
                document.addEventListener('DOMContentLoaded', function () {
                    // Import the CSS rules
                    /*
                    var template =  document.querySelector(".MarvalSoftware-Plugins-ExpandableNotes-Styles").content;
                    var style = template.querySelector("style");
                    style.innerHTML = style.innerHTML.replace(/PLUGINPATH/g, this._getPluginPath());
                    this._styleElement = window.top.document.importNode(template, true);
                    window.top.document.querySelector("head").appendChild(this._styleElement);
                    */
                    $(  ('<style type="text/css">'+
                            '.notesEditor > .notes > div > .note.Private > .header,'+
                            '.notesEditor > .notes > div > .note.PrivateParent > .header,'+
                            '.notesEditor > .notes > div > .note.Public > .header,'+
                            '.notesEditor > .notes > div > .note.PublicParent > .header,'+
                            '.notesEditor > .notes > div > .note.Audit > .header{'+
                            '    background: url("PLUGINPATHimg/submenu.png")  no-repeat left;'+
                            '    padding-left: 12px;'+
                            '}'+
                            '.notesEditor > .notes > div > .note > .header.expanded{'+
                            '    background: url("PLUGINPATHimg/submenu_down.png")  no-repeat left;'+
                            '}'+
                        '</style>').replace(/PLUGINPATH/g, this._getPluginPath())).appendTo('head');

                    var loadNotesLink = window.top.document.getElementById("ctl00_cph_notes_loadAllExistingNotes");
                    if(loadNotesLink != null){
                        loadNotesLink.click();
                    }
                    var requestNo = $("#ctl00_cph_requestNumber").val();
                    
                    this._noteLastCount = $(".note").not(".new").length;
                    // create loading spinner
                    if(requestNo.length > 0){
                        $("#ctl00_cph_notes_notes").css("background",'url("' + this._getPluginPath() + '/img/spinner.gif") 10px 10px no-repeat');
                        $("#ctl00_cph_notes_notes").css("background-color",'#FFF');
                        $("#ctl00_cph_notes_notes").addClass("modal");
                    }
				
					$("#ctl00_cph_notes_add").click( function() {
						$(".new>.header").css("background","none");
						$(".new>.header").css("padding-left","0px");
					});
				
                    setInterval(this._fixNotes.bind(this), 200);
                }.bind(this));
			},

            _getPluginPath: function () {
                return this.attributes["data-pluginpath"].value;
            },

            _fixNotes: function(){
                var noteCount=$(".note").not(".new").length;
                var plugin = this;
                if(noteCount > this._noteLastCount){
                    // remove spinner
                    $("#ctl00_cph_notes_notes").css("background",'none');
                    $("#ctl00_cph_notes_notes").css("background-color",'#FFF');
                    $("#ctl00_cph_notes_notes").removeClass("modal");
                    
                    this._noteLastCount = noteCount;
                    
                    // Hide all old notes
                    $(".note>.content").not(".new>.content").css("display","none");
                    
                    // Create Load all content checkbox
                    if ($("#EFAll").length === 0){
                        var EFAll = $('<li><input name="EFAll" type="checkbox" id="EFAll" class="checkbox"><label for="EFAll">' + plugin._fieldLabel + '</label></li>');
                        EFAll.insertBefore($("#ctl00_cph_notes_printNotes"));
                        $("#EFAll").change(function(){
                            if($("#EFAll").prop("checked")){
                                $(".note>.content").not(".new>.content").css("display","block");
                                $(".note>.header").not(".new>.header").removeClass("folded");
                                $(".note>.header").not(".new>.header").addClass("expanded");
                            }else{
                                $(".note>.content").not(".new>.content").css("display","none");
                                $(".note>.header").not(".new>.header").removeClass("expanded");
                                $(".note>.header").not(".new>.header").addClass("folded");
                            }
                        });
                    }
                    
                    // Go through all notes
                    var firstNoteExpanded = false;
                    $(".note").not(".new").each(function(index){
                        
                        var header = $(this).find(".header");
                        var content = $(this).find(".content");
                        
                        // Compensate Audit header 
                        if(!$(this).hasClass("Audit")){
                            //header.replaceWith('<div class="header"><a href="javascript:void(0);" title="Load note">'+header.html()+'</a></div>');
                            header.replaceWith('<div class="header">'+header.html()+'</div>');
                        }else{
                            //header.replaceWith('<div class="header"><a href="javascript:void(0);" title="Load note">'+'<span class="type">Audit</span>'+header.html()+'</a></div>');
                            header.replaceWith('<div class="header">'+'<span class="type">Audit</span>'+header.html()+'</div>');
                        }
                        
                        // Add event to header to show or hide note
                        $(this).on('click', '.header', function() {
                            if( content.is(":visible") == true){
                                content.fadeOut();
                                $(this).removeClass("expanded");
                                $(this).addClass("folded");
                            }else{
                                content.fadeIn();
                                $(this).removeClass("folded");
                                $(this).addClass("expanded");
                            }
                        });
                        
                        if(($(this).hasClass("Public") || $(this).hasClass("Private") || $(this).hasClass("PublicParent") || $(this).hasClass("PrivateParent")) && !firstNoteExpanded){
                            content.css("display","block");
                            $(this).find(".header").addClass("expanded");
                            firstNoteExpanded = true;
                        }
                        
                    });
                }else if(noteCount <= 1){
                    // remove spinner
                    $("#ctl00_cph_notes_notes").css("background",'none');
                    $("#ctl00_cph_notes_notes").css("background-color",'#FFF');
                    $("#ctl00_cph_notes_notes").removeClass("modal");
                }
            }
        });
    
    })();
</script>